<ion-pane>
  <ion-content class="padding">
    <div ng-hide="$parent.currentUser">
    	<div class="padding-bottom">
            <button class="button button-block button-positive icon-left ion-person-add" href="/user/register"> 
                Register
            </button>
        </div>
    	<button class="button button-block button-calm icon-left ion-social-twitter" ng-click="$parent.loginTwitter()"> 
        	Sign In With Twitter
        </button>
        <button class="button button-block button-calm icon-left ion-social-facebook" ng-click="$parent.loginFacebook()">
        	Sign In With Facebook
        </button>
        <div class="list">
            <div class="item item-divider">
            Sign In With Email
            </div>
            <label class="item item-input item-stacked-label"> <span class="input-label">Email</span>
            <input type="text" ng-model="$parent.loginForm.email">
            </label>
            <label class="item item-input item-stacked-label"> <span class="input-label">Password</span>
            <input type="password" ng-model="$parent.loginForm.password">
            </label>
            <button class="button button-block button-calm" ng-click="$parent.login()">Sign In</button>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-calm button-outline button-stable" ng-click="$parent.forgotPassword()">
                    	Forgot Password
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-calm button-outline button-stable" ng-click="$parent.resetPassword()">
                    	Reset Password
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="$parent.currentUser">
        <button class="button button-block button-positive" ng-click="$parent.logout()"> Sign Out </button>
    </div>
  </ion-content>
</ion-pane>
