<ion-pane>
  <ion-content class="padding">
    <div ng-hide="$parent.currentUser">
        <div class="list">
            <form name="formRegister">
                <label class="item item-input item-stacked-label"> 
                <span class="input-label">Email
                	<span class="assertive" ng-show="formRegister.email.$error.required && formRegister.email.$dirty">
                     *Required
                    </span>
                    <span class="assertive" ng-show="formRegister.email.$error.email && formRegister.email.$dirty">
                     *Please enter a valid email
                    </span>
                </span>
                <input type="email" name="email" ng-model="$parent.registerForm.email" required>
                </label>
                <label class="item item-input item-stacked-label"> <span class="input-label">Password
                	<span class="assertive" ng-show="formRegister.password.$error.minlength && formRegister.password.$dirty">
                     *At least 6 characters
                    </span>
                </span>
                <input type="password" name="password" ng-model="$parent.registerForm.password" ng-minlength="6" required>
                </label>
                <label class="item item-input item-stacked-label"> 
                <span class="input-label">Confirm Password
                	<span class="assertive" ng-show="(formRegister.password.$modelValue != formRegister.password2.$modelValue) && formRegister.password2.$dirty">
                     *Passwords don't match
                    </span>
                </span>
                <input type="password" name="password2" ng-model="$parent.registerForm.password2" required>
                </label>
                <button class="button button-block button-calm" ng-disabled="!formRegister.$valid || (formRegister.password.$modelValue != formRegister.password2.$modelValue)" ng-click="$parent.register()">Register</button>
           </form>
        </div>
    </div>
  </ion-content>
</ion-pane>
